<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/style.css?v=1" type="text/css"/>
</head>
<body>
    <div id="chat" class="app-wrap full-wrap">
        <div class="app">
            <div class="pane pane-list">
                <div class="profile pane-header pane-list-header">
                    <img src="static/images/_avatar.png" class="avatar" alt=""/>
                    <span class="name" id="name"></span>
                    <a class="exit" href="#" id="exit">退出</a>
                </div>
                <div class="contact-list">
                    <ul id="usersList">
                    </ul>
                </div>
            </div>
            <div class="main pane pane-chat" id="main">
                <div class="intro" id="intro">
                    请先择联系人
                </div>
                <div class="pane-header pane-chat-header">
                    <img src="static/images/_avatar.png" id="to_user_avatar" class="avatar" alt=""/>
     
                    <div class="name" id="to_user"></div>
                </div>
                <div class="chat-list" id="chatHistory">
                    <ul>
                    </ul>
                </div>
                <div class="chat-form pane-chat-footer">
                    <textarea id="entry" class="chat-input"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script>
        var host = "{{ host }}";
        var name = "{{ name }}";
    </script>

    <script type="text/javascript" src="/static/lib/console.js"></script>
    <script type="text/javascript" src="/static/lib/json2.js"></script>
    <script type="text/javascript" src="/static/lib/im.js"></script>
    <script type="text/javascript" src="/static/imdb.js"></script>
    <script type="text/javascript" src="/static/util.js"></script>
     
    <script type="text/javascript" src="/static/lib/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/static/client.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>

</body>
</html>
